!.gitignore
!ZipFilter.cpp
!ZipFilter.h

# User prefs
.DS_Store
Thumbs.db
config
archive/
Icon
*.pbxuser
*.perspective*
*.mode1v3
*.xcuserdatad

# Developer
!*.rc
!*.fr

BuildLog.htm
*.res
*.ilk
*.obj
*.pdb
*.dep
*.idb
*.pdb
*.user
*.fres
*.exp
*.dll
*.lib
*.suo
*.eDLL
*.apln
*.xnt
*.aps
*.map
*.ncb
*.obs
*.obj
*.sym
*.*.user
*.*.*.user
*.*.*.*.user

# Compressed
*.cab
*.zip

#Msvc
*.opensdf
*.sdf
*.ipch
*.tlog
*.lastbuildstate
*.log
*.unsuccessfulbuild
Debug/
Release/
Install/

# Install Shield
Script Files/
LogFiles/
Reports/
build/
Build/
archive/

!*.rul

_IsIcoRes.Exe
0x0409.ini
rez_output_tmp

# Folders
Debug
Demo/
DemoLab/
Lab/
Live/
.vs/
documentation/
docbook/
html/
docs/
man/
rtf/
doxyWarnings.txt
*_idml/
